---
import "@/styles/globals.css";
import "@fontsource/inter";
import Layout from "../layouts/Layout.astro";
import Steam from "../components/Steam.astro";
import { Image } from "astro:assets";
import mountains from "../mountains.jpg";
import mc_logo from "../mc_logo.jpg";
---

<Layout title="Welcome to Hell">
  <nav class="bg-[#000000] top-0 w-full">
    <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex h-24 items-center justify-between">
        <div class="flex items-center">
          <a
            href="#"
            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-xl font-medium hover:scale-[1.05] transition-transform duration-300 ease-in-out"
            >About</a
          >
          <a
            href="#"
            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-xl font-medium hover:scale-[1.05] transition-transform duration-300 ease-in-out"
            >Music</a
          >
        </div>
        <a href="/">
          <Image
            class="h-16 w-16 rounded-lg mx-auto relative right-9"
            src={mc_logo}
            alt="Logo of a minecraft character"
          />
        </a>
        <div class="flex items-center">
          <a
            href="#"
            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-xl font-medium hover:scale-[1.05] transition-transform duration-300 ease-in-out"
            >Contact</a
          >
        </div>
      </div>
    </div>
  </nav>
  <section class="flex flex-col items-center justify-center w-full h-full">
    <div class="relative">
      <Image
        src={mountains}
        alt="Image of mountains in Austrian Alps"
        width={4000}
        height={1377}
        class="lg:min-w-full min-w-[250%]"
      />
      <div class="absolute inset-0 flex flex-col mx-32 my-[170px]">
        <h1 class="text-7xl font-black text-white">THOMAS HAWKINS</h1>
      </div>
    </div>
    <section class="flex flex-wrap justify-center w-full min-h-screen">
      <Steam />
    </section>
  </section>
</Layout>

<style>
  * {
    font-family: "Inter", sans-serif;
  }
</style>
