---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Steam from "../components/Steam.astro";
---

<Layout title="Welcome to Hell">
  <section class="flex flex-col items-center justify-center w-full h-full">
    <section class="flex flex-wrap justify-center w-full min-h-screen" id="background">
      
      <Steam />
      </section>

  </section>
</Layout>
<style>
  #background {
    background: url(../mountains.jpg) no-repeat center center fixed;
    background-size: cover;
  }
</style>