---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Steam from "../components/Steam.astro";
---

<Layout title="Welcome to Hell">
  <div class="min-h-[60%] border-8 border-black w-screen"></div>
  <Steam />
</Layout>
