---
import Layout from "../layouts/Layout.astro";
import { getTopTracks, getTopArtists } from '../lib/spotify';
import { Image } from "astro:assets";
import mc_logo from "../mc_logo.jpg";
const tracks = await getTopTracks();
const artists = await getTopArtists();
---

<Layout title="Spotify">
    <nav class="bg-[#000000] top-0 w-full">
        <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex h-24 items-center justify-between">
            <div class="flex items-center">
              <a
                href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-xl font-medium hover:scale-[1.05] transition-transform duration-300 ease-in-out"
                >About</a
              >
              <a
                href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-xl font-medium hover:scale-[1.05] transition-transform duration-300 ease-in-out"
                >Music</a
              >
            </div>
            <a href="/">
              <Image
                class="h-16 w-16 rounded-lg mx-auto relative right-9"
                src={mc_logo}
                alt="Logo of a minecraft character"
              />
            </a>
            <div class="flex items-center">
              <a
                href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-xl font-medium hover:scale-[1.05] transition-transform duration-300 ease-in-out"
                >Contact</a
              >
            </div>
          </div>
        </div>
      </nav>
  <section>
    <h1>Your top tracks</h1>
    <ul>
      {tracks.map((track, index) => (
        <li>
          {index + 1}. {track.title} by {track.artists.map((_artist, index) => (index ? ', ' : '') + _artist.name)}
        </li>
      ))}
    </ul>
  </section>
  <section>
    <h1>Your top artists</h1>
    <ul>
      {artists.map((artist, index) => (
        <li>
          {index + 1}. {artist.name}
        </li>
      ))}
    </ul>
  </section>
</Layout>